*,
:after,
:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

table {
  font-family: "code-pro-demo-regular", Arial, sans-serif;
  max-width: 1300px;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: rgb(30, 41, 59);
  border-radius: 25px;
  transform: scale(0.97);
  width: 100%;
}

tbody > tr:hover {
  transition: 75ms;
  background-color: rgb(39, 51, 70);
}

th {
  border-bottom: 3px solid rgb(39, 51, 70);
  padding: 10px;
  font-size: 18px;
  background-color: rgb(30, 41, 59);
  color: rgb(129, 143, 164);
  text-align: left;
}

tr td:nth-child(1) {
  width: 30px;
}

tr,
td {
  border-collapse: separate;
  width: 500px;
  border-bottom: 2px solid rgb(39, 51, 70);
  padding: 10px;
  vertical-align: center;
}

header {
  padding: 30px 0 50px 0;
  width: 500px;
}

form {
  position: relative;
  top: 0;
  font-size: 0.9em;
  right: 5px;
  padding: 5px 5px;
  margin-top: 30px;
}

form button {
  background-color: inherit;
}

div > img {
  width: 50px;
  height: 50px;
}

td div {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  text-align: center;
}

td div div:nth-child(2) {
  display: flex;
  color: rgb(147, 162, 182);
  text-transform: uppercase;
}

td span {
  vertical-align: super;
}

.page__wrapper {
  justify-content: center;
  align-items: center;
}

.page {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: background-color 200ms;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.page__current {
  border: 2px solid orange;
  border-radius: 50%;
  background-color: rgb(51, 65, 85);
  height: 40px;
  width: 40px;
}

.page:hover {
  background-color: rgb(39, 51, 70);
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(15, 23, 42);
  color: #f0f0f0;
  padding: 0;
  margin-left: 160px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 img {
  max-width: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

h1 img {
  transition: transform 0.3s ease;
}

h1 img:hover {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid rgba(240, 240, 240, 0.74);
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.btn__register {
  margin-left: 40%;
}

.btn::before,
.arrow-top::before,
.arrow-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.2s;
  z-index: -1;
}

.btn::before {
  transform: translateX(-100%);
}

.btn:hover::before {
  transform: translateX(0);
}

.btn:hover {
  color: rgba(26, 26, 26, 0.97);
  border: 2px solid rgba(240, 240, 240, 0.74);
}

tr:hover img {
  transform: scale(1.13);
}

img {
  transition: transform 0.3s ease;
}

.cursor {
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 53rem;
}

.input__change__amount {
  border: 2px solid rgba(240, 240, 240, 0.74);
  border-radius: 25px;
  color: #f0f0f0;
  outline: none;
  width: 20%;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  margin-right: 5%;
}

.input__reg {
  border: 1px solid rgba(240, 240, 240, 0.74);
  padding: 13px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5%;
  color: #f0f0f0;
  background-color: transparent;
}

.input__reg::placeholder {
  color: #e24243;
}

.info__form {
  margin-left: 4%;
}

.input__container {
  margin: 20px;
}

.input__reg:focus {
  border-width: 3px;
}

.page__parent {
  /*position: relative;*/
}

.page__container {
  /*position: absolute;*/
  /*top: 56rem;*/
  /*bottom: 0;*/
  /*left: 5%;*/
  /*right: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.buttons {
  padding-right: 25%;
}

.arrow-top,
.arrow-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgba(240, 240, 240, 0.74);
  border-radius: 25px;
  text-decoration: none;
}

.arrow-top::before {
  transform: translateY(100%);
}

.arrow-bottom::before {
  transform: translateY(-100%);
}

.arrow-bottom:hover::before,
.arrow-top:hover::before {
  transform: translateY(0);
}

.arrow-black {
  fill: #444444;
}

.arrow-white {
  fill: #f0f0f0;
}

.arrow {
  transform: rotate(180deg);
}

.arrow-top {
  right: 49%;
  top: 5px;
}

.arrow-bottom {
  right: 49%;
  top: 54%;
}

.negative {
  color: rgb(226, 66, 67);
}

.down {
  transform: rotate(180deg);
}

.positive {
  color: #36b748;
}

.arrow-green {
  fill: #36b748;
}

.arrow-red {
  fill: rgb(226, 66, 67);
  transform: rotate(180deg);
}

.heart {
  display: inline-flex;
}

.heart-fill {
  fill: rgba(240, 240, 240, 0.74);
}

.clear {
  all: unset;
  cursor: pointer;
  margin-left: 50%;
}

.arrow-pagination {
  width: 20px;
  height: 20px;
  fill: #f0f0f0;
  vertical-align: sub;
}

.arrow-right {
  transform: rotate(90deg);
}

.arrow-move {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s;
}

.arrow-move-right:hover {
  transform: translateX(5px);
}

.arrow-move-left:hover {
  transform: translateX(-5px);
}

.arrow-left {
  transform: rotate(-90deg);
}

.centre-div {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.side-nav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-centre {
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.side-centre span {
  cursor: pointer;
  margin: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.active {
  background-color: rgb(51, 65, 85);
  border-radius: 50%;
}

.side-state {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview__symbol {
  font-size: 20px;
  color: rgb(147, 162, 182);
}

.centre_h2 {
  text-align: center;
  margin-top: 10%;
}

.overview__percentage {
  font-size: 20px;
  display: inline-block;
}

.overview__price {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.overview__current_price {
  color: rgb(147, 162, 182);
}

.overview__status {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  width: 50%;
}

.status__column {
  width: 30%;
  display: inline-block;
  margin-right: 3%;
}

.status__title {
  flex: 1;
}

.coin-info {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  margin: 0 auto;
}

.header__button {
  margin: 1%;
}

.overview__rank {
  color: #fff;
  background-color: rgb(51, 65, 85);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.85em;
  margin-bottom: 15px;
  flex-grow: 0;
}

.overview__btn {
  margin-top: 4%;
}

.h1__marg {
  margin-top: 4%;
}

.rank {
  width: 20%;
  height: 30px;
  background-color: rgb(51, 65, 85);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 3%;
}

.overview__inline-flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.overview__name {
  font-weight: 600;
  font-size: 1.1em;
}

.overview__info__vs__percentage {
  margin-left: 5%;
  display: inline-flex;
}

.overview__stats {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.stats__column {
  margin-right: 25px;
  width: 350px;
}

.stats__item {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.4);
}

.right-column {
  max-width: 400px;
}

.info__header {
  margin-bottom: 10px;
}

.info__item {
  display: flex;
  margin: 10px 0;
}

.item__link {
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background: rgb(51, 65, 85);
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.overview {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.left-column {
  display: flex;
  flex: 1 1 auto;
  padding-right: 70px;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

.chart {
  padding-top: 3%;
}

.valid {
  border: 2px solid #36b748;
}

.invalid {
  border: 2px solid #e24243;
}

.container__for__registration {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.link__reg {
  color: rgba(255, 255, 255, 0.67);
  text-decoration: underline;
  margin-left: 5%;
  margin-top: 3%;
}

.primary__container {
  background-color: rgb(15, 23, 42);
  color: #b6c2cf;
  height: 100vh;
  margin: 0;
}

.upper__login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form * {
  all: unset;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  background: #0f172a;
  box-shadow:
    30px 30px 42px #080c17,
    -30px -30px 42px #16223d;
  width: 80vh;
  padding: 5%;
}

.login__btn {
  width: 100%;
}

.h1__rewrite {
  font-size: 300%;
}

.h2__rewrite {
  font-size: 150%;
}

.bottom__login__container {
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 120%;
}

.login__link {
  transition: color 0.2s linear;
  cursor: pointer;
}

.login__link:hover {
  cursor: pointer;
  color: white;
}
